.counter-card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.counter {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}